<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apriluziknaver.projectmypets">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.apriluziknaver.projectmypets"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
        <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths"/>
    </provider>


    <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddProfileActivity" />
        <activity android:name=".CommunityActivity" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity android:name=".WriteContentsActivity" />
        <activity android:name=".AlarmNoteActivity" />
        <activity
            android:name=".AlarmNoteDetailsActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".GalleryMyPets"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_pets_gallery"
            />



    </application>

</manifest>